%div.song
  %h2
    %a.song-title{:href => "http://www.youtube.com/watch?v=#{song["id"]}"}= song_title
    %a.twitter-share-button{:href => "http://twitter.com/share", :"data-text" => "Fucking Awesome Songs - " + song_title, :"data-count" => "horizontal", :"data-related" => "fknAwesomeSongs,AndrewVos"}
      Tweet this song!
      %script{:type => "text/javascript", :src => "http://platform.twitter.com/widgets.js"}
  %h3
    %a{:href => next_random_song_url} Click here for another fucking awesome song

  %p
    %input#video-id{:type => "hidden", :value => song["id"]}
    %input#next-song-url{:type => "hidden", :value => next_random_song_url}
    %div#youtube-player-container

  %p
    Got a song that you think should be here?
    To submit a song either go
    %a{:href => "/submit"} here
    and leave a comment, or
    %a{:href => "https://github.com/AndrewVos/fuckingawesomesongs.com"} fork this repository
    and add your song!
