!!!

%html
  %head
    %link{:rel => "stylesheet", :href => "/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "/css/style.css"}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/jQuery.tubeplayer.min.js"}
    %script{:type => "text/javascript", :src => "/js/video.js"}
    %title
      fuckingawesomesongs.com
      -
      -if song
        -
        = song.title
  %body
    %div.container
      %h1
        %a{:href => "/"}
          fuckingawesomesongs.com
          %a.twitter-share-button{:href => "http://twitter.com/share", :"data-text" => "Fucking Awesome Songs", :"data-count" => "horizontal", :"data-related" => "fknAwesomeSongs,AndrewVos", :"data-url" => "http://fuckingawesomesongs.com"}
            %script{:type => "text/javascript", :src => "http://platform.twitter.com/widgets.js"}
      = yield
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-443109-12']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
