!!!

%html
  %head
    %link{:rel => "stylesheet", :href => "/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "/css/style.css"}
    %title fuckingawesomesongs.com
  %body
    %a{:href => "/"}
      %h1 fuckingawesomesongs.com
    = yield
