!!!

%html
  %head
    %link{:rel => "stylesheet", :href => "/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "/css/style.css"}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/video.js"}
    %title fuckingawesomesongs.com
  %body
    %a{:href => "/"}
      %h1 fuckingawesomesongs.com
    = yield
