%h2
  %a{:href => "/submit"} Submit a fucking awesome song

%div#disqus_thread
  %script{:type => "text/javascript", :src => "http://disqus.com/forums/fuckingawesomesongs/embed.js"}
  %noscript
    %a{:href => "http://fuckingawesomesongs.disqus.com/?url=ref"} View the discussion thread.
  %a{:href => "http://disqus.com", :class => "dsq-brlink"}
    blog comments powered by
    %span{:class => "logo-disqus"} Disqus
